.App {
  text-align: center;
  margin-top: 25px;
}
#display {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: slategrey;
  color: white;
  font-size: 3em;
  max-width:275px;
  overflow: hidden;
  text-overflow: clip;
  height: 70px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  text-align: right;
}
.output-display {
  height: 65px;
  width: 265px;
}
.small-display {
  font-size: 2rem;
  overflow-wrap: break-word;
  line-height: 1em;
}

.inputs {
  background-color: lightseagreen;
  width:275px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
button {
  margin: 5px;
}

.btn {
  font-size: 2em;
  padding: 2px;
  width: 55px;
  height: 55px;
  line-height: 1;
}
.lg-btn {
  width: 122px;
}